.contact{
    display: flex;
    flex-direction: column;
    margin:100px auto;
    border: 2px solid;
    border-radius: 10px;
    height: auto;
    max-width: 1000px;
    padding:100px 40px;
    box-shadow: 8px 8px 6px 0 rgba(0,0,0,0.2);
}

@media screen and (min-width: 585px){
    .contact{
        flex-direction: row;
        transition: 0.3s;
    }
}

.contact_image{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

form{
    display: flex;
    flex-direction: column;
}

input[type=text], select, textarea{
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid;
    max-width: 400px;
    resize: vertical;
    padding: 10px;
}

textarea{
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid;
    max-width: 400px;
    resize: vertical;
    padding: 10px;
}

input[type=text]:focus{
    border-radius: 10px;
    outline: none;
    border-color: #7556da;
    box-shadow: 5px 8px 10px 0 #c0b4e9;
}

textarea:focus{
    outline: none;
    box-shadow: 5px 8px 10px 0 #c0b4e9;
    border-color: #7556da;
    border: 1px solid;
}

.button{
    background-color: #7556da;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    max-width: 200px;
}
.button:hover{
    background-color: #876ed8;
}

.message{
    height: 100px;
}
